/* body{
    background-color: black;
}
.site-nav_mt-03{
    margin-top: 16px;
    height: 1.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container{
    margin-top: 2%;
    margin-left: 7%;
    display: flex;
    align-items: center;
}
.site-navigation{
    width: 10%;
    justify-content: center;
}
.logo_m-0_float-start{
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 150%;
    line-height: 150%;
}
.js-clone-nav_d-none_d-lg-inline-block_text-start_site-menu_float-start{
    width: 50%;
    margin-top: 0.5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.js-clone-nav_d-none_d-lg-inline-block_text-start_site-menu_float-start>li{
    
    text-align: left;
    width: fit-content;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    line-height: 120%;
    font-weight: 300;
    padding: 1%;
    position: relative;
}
.js-clone-nav_d-none_d-lg-inline-block_text-start_site-menu_float-start>li>a{
    text-decoration: none;
    color: white;
}
.js-clone-nav_d-none_d-lg-inline-block_text-start_site-menu_float-start li a:hover{
    
    color: #fc8621;
}
.dropdown{
    display: none;
    width: 120%;
}
.dropdown>li{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    width: fit-content;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    line-height: 120%;
    font-weight: 300;
    padding: 1%;
    position: relative;
}
.dropdown>li>a:hover{
    color: #fc8621;
}
.dropdown>li>a{
    text-decoration: none solid;
    color: black;
}
.has-children:hover .dropdown{
    display: block;
    position: absolute;
    background-color: white;
    height: fit-content;
}
.dropdown1{
    display: none;
    margin-left: 3%;
    background-color: white;
}
.dropdown1>li{
    position: relative;
    top: -50px;
    letter-spacing: 100%;
    width: 250%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    width: fit-content;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 100%;
    font-weight: 300;
    padding: 1%;
}
.dropdown1>li>a{
    color: black;
    text-decoration: none solid;
}
.dropdown1>li>a:hover{
    color: #fc8621;
}
.has-children1:hover .dropdown1{
    width: 300%;
} */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .logo{
    font-family: "Playfair Display", sans-serif; 
}
/* Style for nav */
.logo{
    font-size: 24px;
    font-weight: 780;
}
.main-menu{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: aliceblue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: aliceblue;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0x rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* Style for banner */
body{
    background-size: cover;
}
body {
    background-image: url('/img/beach_bar.jpg');
}
.text-center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center !important;
    transform: translate(-50%, -50%);
    color: azure;
    background-color: rgba(0,0,0,0.3);
}


