body{
    background-color: black;
}
/* Style for nav */
ul { list-style-type: none; }
.site-nav_mt-03{
    margin-top: 16px;
    height: 1.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container{
    margin-top: 2%;
    margin-left: 7%;
    display: flex;
    align-items: center;
}
.site-navigation{
    width: 10%;
    justify-content: center;
}
.logo_m-0_float-start{
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 150%;
    line-height: 150%;
}
.float-start{
    width: 70%;
    margin-top: 0.5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.float-start>li{
    margin-right: 5%;
    text-align: left;
    width: fit-content;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    line-height: 120%;
    font-weight: 300;
    padding: 1%;
    position: relative;
}
.float-start>li>a{
    text-decoration: none;
    color: white;
}
.float-start li a:hover{
    
    color: #fc8621;
}
.dropdown{
    display: none;
    width: 120%;
}
.dropdown>li{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    width: fit-content;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    line-height: 120%;
    font-weight: 300;
    padding: 1%;
    position: relative;
}
.dropdown>li>a:hover{
    color: #fc8621;
}
.dropdown>li>a{
    text-decoration: none solid;
    color: black;
}
.has-children:hover .dropdown{
    display: block;
    position: absolute;
    background-color: white;
    height: fit-content;
}
.float-end{
    width: 20%;
}
.cta-button a{
    margin-right: 5%;
    padding: 10px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
/*home-overlay*/
.home-banner img{
    width: 100%;
    margin-top: 2.5%;
}

.introduce {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: azure;
    background-color: rgba(0, 0, 0, 0.4 );
}
.introduce h1{
    font-size: 100%;
    font-weight: 600;
    font-family: 'Playfair Display', sans-serif;
    padding-bottom: 0.01%;
}
.home-video a{
    margin-left: 3%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.4 );
    color: white;
}
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 122, 0, 0.1 );
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.video-container video{
    position: relative;
    width: 90%;
    outline: none;

}
.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
    
}
@media (max-width: 881px){
    .video-container video{
        max-width: 90%;
    }
}
/*end home-overlay*/
/* Style for banner */
/* index */
.overlay{
    margin-top: 2.5%;
    margin-left: 3%;
    width: 95%;
    height:100vh;
    position: absolute;
    background-image: url('../img/home-overlay-cover.jpg');
    background-color: rgba(0,0,0,0.6);
}
.introduce{
    margin-top: 20%;
    margin-left: 15%;
    color: white;
}
.introduce h1{
    font-family: 'Playfair Display', sans-serif ;
    font-size: 300%;
}
.introduce p{
    font-size: 150%;
    font-family: 'Hurricane', sans-serif;
}
/* blog */
.banner h1{
    font-size: 40px;
}
.banner p{
    font-size: 30px;
}
.banner img{
    width: 100%;
    margin-bottom: 100px;
}
.text-center {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center !important;
    transform: translate(-50%, -50%);
    color:aliceblue;
    background-color: rgba(0,0,0,0.3);
}
/* Style for container */
/* blog */
.grid-container h3{
    font-size: 20px;
    font-weight: bold;
}
.grid-container{
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    margin: 10px auto;
    background-color: white;
}
.grid-item{
  box-sizing: border-box; 
  width: 280px;
  padding: 15px;
}
.grid-item img{
    width: 280px;
    height: 240px;
} 
/* contactus */
.form{
    background-color: white;
    height: 720px;
}

/* Style for footer */
/* blog */
#site-footer{
    background-color: #efefef;
    margin: 0 auto;
    width: 1163px;
    padding: 50px;
}
#site-footer h3{
    font-size: 20px;
    font-weight: bold;
}
#site-footer .row{
    display: flex;
    align-items: center; 
}
#site-footer .col-1{
    width: 500px;
    right: auto;
}
#site-footer .col-2{
    position: absolute;
    left: 700px;
}
#site-footer .link{
    display: flex;
}
/* Style for container */
/* food */
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0x rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}


.body-header{
    background-color: black;

}

.body-main{
    padding-top: 50px ;
    margin-right:  335px; 
    margin-left: 335px;
    
}
.img-banner{
    max-width: 686px;
}

#tall{
    margin-top:20px ;
    margin-bottom: 10px;
}

p{
    margin-top: 20px;
    line-height: 30px;
    color: white;
    
}
h3{
    color: white;
    font-size: 30px;
}
.body-main .banner h2  {
    color: white;
    font-size: 30px;
}